<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.password">accda</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1/classicmodels</property>
        <property name="connection.username">accda</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        
        <mapping resource="models/Orders.hbm.xml"/>
        <mapping resource="models/Customers.hbm.xml"/>
        <mapping resource="models/Orderdetails.hbm.xml"/>
        <mapping resource="models/Payments.hbm.xml"/>
        <mapping resource="models/Offices.hbm.xml"/>
        <mapping resource="models/Productlines.hbm.xml"/>
        <mapping resource="models/Employees.hbm.xml"/>
        <mapping resource="models/Products.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
