<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">accda</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/restaurante</property>
		<property name="hibernate.connection.username">accda</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">none</property>
		<property name="hibernate.search.autoregister_listeners">true</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		
		<mapping class="hibernate.persistence.models.Empleado" />
		<mapping class="hibernate.persistence.models.Existencias" />
		<mapping class="hibernate.persistence.models.Localidad" />
		<mapping class="hibernate.persistence.models.Restaurante" />
		<mapping class="hibernate.persistence.models.RestEmpleado" />
		<mapping class="hibernate.persistence.models.RestEmpleadoId" />
		<mapping class="hibernate.persistence.models.Titular" />
	</session-factory>
</hibernate-configuration>
